.app__container{
  height: 100vh;
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.app__rightpanel{
  margin-left: auto;
  background-color: aqua;
  height: 100vh;
  width: 40%;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(43px);
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.5) 
}
.app__rightpanel::-webkit-scrollbar {
  width: 12px;
}
.app__rightpanel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 10px 10px 2px rgba(0,0,0); 
}
